In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('u.data')

In [3]:
df.head()

      0\t50\t5\t881250949
0    0\t172\t5\t881250949
1    0\t133\t1\t881250949
2  196\t242\t3\t881250949
3  186\t302\t3\t891717742
4   22\t377\t1\t878887116